USE [EcoMigrar]
GO
/****** Object:  StoredProcedure [dbo].[pms_ecomin_MtCVSproceso]    Script Date: 31/07/2023 11:41:11 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---- test
/*

-----script para testing 

declare @s_error_msg varchar(350) 
declare @i_error_nro int
declare @i_nroFile int

exec pms_ecomin_MtCVSproceso
	@i_nroFile=1,
	@s_rutaFile ='\\oeides-home\DatosQ\BD_FUNCION_SALUD_GR.csv',
	@s_error_msg =@s_error_msg out,
	@i_error_nro =@i_error_nro out

select	msg		=@s_error_msg,
		i_error	=@i_error_nro


*/
ALTER procedure [dbo].[pms_ecomin_MtCVSproceso]
@i_nroFile int,
@s_rutaFile varchar(500),
@s_error_msg varchar(350) out,
@i_error_nro int out
as
 /*
BULK INSERT eco_tempoTarea
FROM '\\oeides-home\DatosQ\BD_FUNCION_SALUD_GR_PRUEBA.csv'
WITH
(
	FIRSTROW = 2,
    FIELDTERMINATOR = ';',
    ROWTERMINATOR = '\n'
)
 */

 

begin

declare @s_nombreTabla varchar(100)
set @s_nombreTabla ='eco_tempoTarea'
if @i_nroFile=2 set @s_nombreTabla ='eco_tempoTareaN2'

		begin try 
	
			set @s_error_msg='' ;set @i_error_nro=0
			
			if @i_nroFile=1 begin
				truncate table eco_tempoTarea
			end
			if @i_nroFile=2 begin
				truncate table eco_tempoTareaN2
			end


			declare @s_script_go varchar(700)
			
			SET @s_script_go = 'BULK INSERT '+@s_nombreTabla+'  
					 FROM ''' + @s_rutaFile + '''		
					WITH
						(
						FIRSTROW=2,
						FIELDTERMINATOR = '';'',
						ROWTERMINATOR = ''\n''
						)'
				---		print @s_script_go
			exec (@s_script_go)
			
			--------truncar Log
		---	DBCC SHRINKFILE ('EcoMigrar_log', 1)
		--	DBCC SHRINKFILE ('EcoMigrar_log',0 ,TRUNCATEONLY)
		---	DBCC SHRINKFILE (N'EcoMigrar' , 0, TRUNCATEONLY)



		----------/ Separar errores
			begin
				---print 'Separar errores'	
				truncate table eco_tempoTarea_error
				if  @i_nroFile=1 begin
					insert into eco_tempoTarea_error
					(
						ANO_EJE, MES_EJE, NIVEL_GOBIERNO, NIVEL_GOBIERNO_NOMBRE, SECTOR, SECTOR_NOMBRE, PLIEGO, PLIEGO_NOMBRE, 
						SEC_EJEC, EJECUTORA, EJECUTORA_NOMBRE, DEPARTAMENTO_EJECUTORA, DEPARTAMENTO_EJECUTORA_NOMBRE, 
						PROVINCIA_EJECUTORA, PROVINCIA_EJECUTORA_NOMBRE, DISTRITO_EJECUTORA, DISTRITO_EJECUTORA_NOMBRE, SEC_FUNC, 
						PROGRAMA_PPTO, PROGRAMA_PPTO_NOMBRE, TIPO_ACT_PROY, TIPO_ACT_PROY_NOMBRE, PRODUCTO_PROYECTO, 
						PRODUCTO_PROYECTO_NOMBRE, ACTIVIDAD_ACCION_OBRA, ACTIVIDAD_ACCION_OBRA_NOMBRE, FUNCION, FUNCION_NOMBRE, 
						DIVISION_FUNCIONAL, DIVISION_FUNCIONAL_NOMBRE, GRUPO_FUNCIONAL, GRUPO_FUNCIONAL_NOMBRE, META, FINALIDAD, 
						META_NOMBRE, DEPARTAMENTO_META, DEPARTAMENTO_META_NOMBRE, FUENTE_FINANCIAMIENTO, FUENTE_FINANCIAMIENTO_NOMBRE, 
						RUBRO, RUBRO_NOMBRE, TIPO_RECURSO, TIPO_RECURSO_NOMBRE, CATEGORIA_GASTO, CATEGORIA_GASTO_NOMBRE, 
						TIPO_TRANSACCION, GENERICA, GENERICA_NOMBRE, SUBGENERICA, SUBGENERICA_NOMBRE, SUBGENERICA_DET, 
						SUBGENERICA_DET_NOMBRE, ESPECIFICA, ESPECIFICA_NOMBRE, ESPECIFICA_DET, ESPECIFICA_DET_NOMBRE, 
						MONTO_PIA, MONTO_PIM, MONTO_CERTIFICADO, MONTO_COMPROMETIDO_ANUAL, 
						MONTO_COMPROMETIDO, MONTO_DEVENGADO, MONTO_GIRADO 
					)
					select 
						ANO_EJE, MES_EJE, NIVEL_GOBIERNO, NIVEL_GOBIERNO_NOMBRE, SECTOR, SECTOR_NOMBRE, PLIEGO, PLIEGO_NOMBRE, 
						SEC_EJEC, EJECUTORA, EJECUTORA_NOMBRE, DEPARTAMENTO_EJECUTORA, DEPARTAMENTO_EJECUTORA_NOMBRE, 
						PROVINCIA_EJECUTORA, PROVINCIA_EJECUTORA_NOMBRE, DISTRITO_EJECUTORA, DISTRITO_EJECUTORA_NOMBRE, SEC_FUNC, 
						PROGRAMA_PPTO, PROGRAMA_PPTO_NOMBRE, TIPO_ACT_PROY, TIPO_ACT_PROY_NOMBRE, PRODUCTO_PROYECTO, 
						PRODUCTO_PROYECTO_NOMBRE, ACTIVIDAD_ACCION_OBRA, ACTIVIDAD_ACCION_OBRA_NOMBRE, FUNCION, FUNCION_NOMBRE, 
						DIVISION_FUNCIONAL, DIVISION_FUNCIONAL_NOMBRE, GRUPO_FUNCIONAL, GRUPO_FUNCIONAL_NOMBRE, META, FINALIDAD, 
						META_NOMBRE, DEPARTAMENTO_META, DEPARTAMENTO_META_NOMBRE, FUENTE_FINANCIAMIENTO, FUENTE_FINANCIAMIENTO_NOMBRE, 
						RUBRO, RUBRO_NOMBRE, TIPO_RECURSO, TIPO_RECURSO_NOMBRE, CATEGORIA_GASTO, CATEGORIA_GASTO_NOMBRE, 
						TIPO_TRANSACCION, GENERICA, GENERICA_NOMBRE, SUBGENERICA, SUBGENERICA_NOMBRE, SUBGENERICA_DET, 
						SUBGENERICA_DET_NOMBRE, ESPECIFICA, ESPECIFICA_NOMBRE, ESPECIFICA_DET, ESPECIFICA_DET_NOMBRE, 
						MONTO_PIA, MONTO_PIM, MONTO_CERTIFICADO, MONTO_COMPROMETIDO_ANUAL, 
						MONTO_COMPROMETIDO, MONTO_DEVENGADO, MONTO_GIRADO 
					from eco_tempoTarea t
					where 
					charindex(';',MONTO_GIRADO)>0
					---
					delete from eco_tempoTarea where charindex(';',MONTO_GIRADO)>0
				
				end
				-----------
				if  @i_nroFile=2 begin
					insert into eco_tempoTarea_error
					(
						ANO_EJE, MES_EJE, NIVEL_GOBIERNO, NIVEL_GOBIERNO_NOMBRE, SECTOR, SECTOR_NOMBRE, PLIEGO, PLIEGO_NOMBRE, 
						SEC_EJEC, EJECUTORA, EJECUTORA_NOMBRE, DEPARTAMENTO_EJECUTORA, DEPARTAMENTO_EJECUTORA_NOMBRE, 
						PROVINCIA_EJECUTORA, PROVINCIA_EJECUTORA_NOMBRE, DISTRITO_EJECUTORA, DISTRITO_EJECUTORA_NOMBRE, SEC_FUNC, 
						PROGRAMA_PPTO, PROGRAMA_PPTO_NOMBRE, TIPO_ACT_PROY, TIPO_ACT_PROY_NOMBRE, PRODUCTO_PROYECTO, 
						PRODUCTO_PROYECTO_NOMBRE, ACTIVIDAD_ACCION_OBRA, ACTIVIDAD_ACCION_OBRA_NOMBRE, FUNCION, FUNCION_NOMBRE, 
						DIVISION_FUNCIONAL, DIVISION_FUNCIONAL_NOMBRE, GRUPO_FUNCIONAL, GRUPO_FUNCIONAL_NOMBRE, META, FINALIDAD, 
						META_NOMBRE, DEPARTAMENTO_META, DEPARTAMENTO_META_NOMBRE, FUENTE_FINANCIAMIENTO, FUENTE_FINANCIAMIENTO_NOMBRE, 
						RUBRO, RUBRO_NOMBRE, TIPO_RECURSO, TIPO_RECURSO_NOMBRE, CATEGORIA_GASTO, CATEGORIA_GASTO_NOMBRE, 
						TIPO_TRANSACCION, GENERICA, GENERICA_NOMBRE, SUBGENERICA, SUBGENERICA_NOMBRE, SUBGENERICA_DET, 
						SUBGENERICA_DET_NOMBRE, ESPECIFICA, ESPECIFICA_NOMBRE, ESPECIFICA_DET, ESPECIFICA_DET_NOMBRE, 
						MONTO_PIA, MONTO_PIM, MONTO_CERTIFICADO, MONTO_COMPROMETIDO_ANUAL, 
						MONTO_COMPROMETIDO, MONTO_DEVENGADO, MONTO_GIRADO 
					)
					select 
						ANO_EJE, MES_EJE, NIVEL_GOBIERNO, NIVEL_GOBIERNO_NOMBRE, SECTOR, SECTOR_NOMBRE, PLIEGO, PLIEGO_NOMBRE, 
						SEC_EJEC, EJECUTORA, EJECUTORA_NOMBRE, DEPARTAMENTO_EJECUTORA, DEPARTAMENTO_EJECUTORA_NOMBRE, 
						PROVINCIA_EJECUTORA, PROVINCIA_EJECUTORA_NOMBRE, DISTRITO_EJECUTORA, DISTRITO_EJECUTORA_NOMBRE, SEC_FUNC, 
						PROGRAMA_PPTO, PROGRAMA_PPTO_NOMBRE, TIPO_ACT_PROY, TIPO_ACT_PROY_NOMBRE, PRODUCTO_PROYECTO, 
						PRODUCTO_PROYECTO_NOMBRE, ACTIVIDAD_ACCION_OBRA, ACTIVIDAD_ACCION_OBRA_NOMBRE, FUNCION, FUNCION_NOMBRE, 
						DIVISION_FUNCIONAL, DIVISION_FUNCIONAL_NOMBRE, GRUPO_FUNCIONAL, GRUPO_FUNCIONAL_NOMBRE, META, FINALIDAD, 
						META_NOMBRE, DEPARTAMENTO_META, DEPARTAMENTO_META_NOMBRE, FUENTE_FINANCIAMIENTO, FUENTE_FINANCIAMIENTO_NOMBRE, 
						RUBRO, RUBRO_NOMBRE, TIPO_RECURSO, TIPO_RECURSO_NOMBRE, CATEGORIA_GASTO, CATEGORIA_GASTO_NOMBRE, 
						TIPO_TRANSACCION, GENERICA, GENERICA_NOMBRE, SUBGENERICA, SUBGENERICA_NOMBRE, SUBGENERICA_DET, 
						SUBGENERICA_DET_NOMBRE, ESPECIFICA, ESPECIFICA_NOMBRE, ESPECIFICA_DET, ESPECIFICA_DET_NOMBRE, 
						MONTO_PIA, MONTO_PIM, MONTO_CERTIFICADO, MONTO_COMPROMETIDO_ANUAL, 
						MONTO_COMPROMETIDO, MONTO_DEVENGADO, MONTO_GIRADO 
					from eco_tempoTareaN2 t
					where 
					charindex(';',MONTO_GIRADO)>0
					---
					delete from eco_tempoTareaN2 where charindex(';',MONTO_GIRADO)>0
				
				end
				------------


			end
			------------------/ rowdata

			----/ Concaternar FilaCVS
			begin 

			---print 'Concatenar fila ECO_ROWDATA '

			 Update eco_tempoTarea_error
			 set	ECO_ROWDATA	=s_rowdatos,
					ECO_NROERRO	=1
			 From eco_tempoTarea_error m inner join
			 (
			 select 
				id= id_temperro,
				s_rowdatos= 
				replace(	(
					case 
					when  right(FUNCION,1)='"' then		 
					 concat(isnull(PRODUCTO_PROYECTO_NOMBRE,''),',',isnull(ACTIVIDAD_ACCION_OBRA,''),',',isnull(ACTIVIDAD_ACCION_OBRA_NOMBRE,''),',',isnull(FUNCION,''))
					when  right(ACTIVIDAD_ACCION_OBRA_NOMBRE,1)='"' then		 
					 concat(isnull(PRODUCTO_PROYECTO_NOMBRE,''),',',isnull(ACTIVIDAD_ACCION_OBRA,''),',',isnull(ACTIVIDAD_ACCION_OBRA_NOMBRE,''),';',isnull(FUNCION,''))
					when  right(ACTIVIDAD_ACCION_OBRA,1)='"' then		 
					 concat(isnull(PRODUCTO_PROYECTO_NOMBRE,''),',',isnull(ACTIVIDAD_ACCION_OBRA,''),';',isnull(ACTIVIDAD_ACCION_OBRA_NOMBRE,''),';',isnull(FUNCION,''))
					 else 
					 concat(isnull(PRODUCTO_PROYECTO_NOMBRE,''),';',isnull(ACTIVIDAD_ACCION_OBRA,''),';',isnull(ACTIVIDAD_ACCION_OBRA_NOMBRE,''),';',isnull(FUNCION,''))
					 end
					 ),'"','') --PRODUCTO_PROYECTO_NOMBRE	ACTIVIDAD_ACCION_OBRA	ACTIVIDAD_ACCION_OBRA_NOMBRE	FUNCION	
					+
					Concat( ';',
					isnull(FUNCION_NOMBRE,'')	,';',
					isnull(DIVISION_FUNCIONAL,'')	,';',isnull(DIVISION_FUNCIONAL_NOMBRE,'')	,';',
					isnull(GRUPO_FUNCIONAL,'')	,';',isnull(GRUPO_FUNCIONAL_NOMBRE,'')	,';',
					isnull(META,'')	,';',isnull(FINALIDAD,'')	,';',isnull(META_NOMBRE,'')	,';'
					)
					+
					replace((
						case 
						when right(FUENTE_FINANCIAMIENTO_NOMBRE,1)='"' then
							concat( isnull(DEPARTAMENTO_META,''),';',isnull(DEPARTAMENTO_META_NOMBRE,''),',',isnull(FUENTE_FINANCIAMIENTO,''),',',isnull(FUENTE_FINANCIAMIENTO_NOMBRE,''))
						when right(FUENTE_FINANCIAMIENTO,1)='"' then
							concat( isnull(DEPARTAMENTO_META,''),';',isnull(DEPARTAMENTO_META_NOMBRE,''),',',isnull(FUENTE_FINANCIAMIENTO,''),';',isnull(FUENTE_FINANCIAMIENTO_NOMBRE,''))	
						when right(DEPARTAMENTO_META_NOMBRE,1)='"' then
							concat( isnull(DEPARTAMENTO_META,''),',',isnull(DEPARTAMENTO_META_NOMBRE,''),';',isnull(FUENTE_FINANCIAMIENTO,''),';',isnull(FUENTE_FINANCIAMIENTO_NOMBRE,''))	
						else 
							concat( isnull(DEPARTAMENTO_META,''),';',isnull(DEPARTAMENTO_META_NOMBRE,''),';',isnull(FUENTE_FINANCIAMIENTO,''),';',isnull(FUENTE_FINANCIAMIENTO_NOMBRE,''))	
						end	 -- DEPARTAMENTO_META	,DEPARTAMENTO_META_NOMBRE	,FUENTE_FINANCIAMIENTO	,FUENTE_FINANCIAMIENTO_NOMBRE,
					 ),'"','')
					 +
						Concat( ';',
								isnull(RUBRO,'')				,';',isnull(RUBRO_NOMBRE,'')			,';',
								isnull(TIPO_RECURSO,'')			,';',isnull(TIPO_RECURSO_NOMBRE,'')		,';',
								isnull(CATEGORIA_GASTO,'')		,';',isnull(CATEGORIA_GASTO_NOMBRE,'')	,';',
								isnull(TIPO_TRANSACCION,'')		,';',
								isnull(GENERICA,'')				,';',isnull(GENERICA_NOMBRE,'')			,';',
								isnull(SUBGENERICA,'')			,';',isnull(SUBGENERICA_NOMBRE,'')		,';',
								isnull(SUBGENERICA_DET,'')		,';',isnull(SUBGENERICA_DET_NOMBRE,'')	,';',
 								isnull(ESPECIFICA,'')			,';',isnull(ESPECIFICA_NOMBRE,'')		,';',
								isnull(ESPECIFICA_DET,'')		,';',isnull(ESPECIFICA_DET_NOMBRE,'')	,';',
								isnull(MONTO_PIA,'')			,';',isnull(MONTO_PIM,'')	,';',isnull(MONTO_CERTIFICADO,'')	,';',
								isnull(MONTO_COMPROMETIDO_ANUAL,''),';',	
								isnull(MONTO_COMPROMETIDO,'')	,';',isnull(MONTO_DEVENGADO,'')	,';',isnull(MONTO_GIRADO,'') 
						)
			 from eco_tempoTarea_error
			 ) t on m.id_temperro=t.id
			 where isnull(ECO_NROERRO,0)=0
		end


			begin
				 --print 'update columnas '
				update eco_tempoTarea_error
				set 
						ECO_NROERRO=2,
						ECO_ROWDATA='',
						PRODUCTO_PROYECTO_NOMBRE=dbo.doRow(ECO_ROWDATA,1) ,
						ACTIVIDAD_ACCION_OBRA=dbo.doRow(ECO_ROWDATA,2) ,
						ACTIVIDAD_ACCION_OBRA_NOMBRE=dbo.doRow(ECO_ROWDATA,3) ,
						FUNCION=dbo.doRow(ECO_ROWDATA,4) ,
						FUNCION_NOMBRE=dbo.doRow(ECO_ROWDATA,5) ,
						DIVISION_FUNCIONAL=dbo.doRow(ECO_ROWDATA,6) ,
						DIVISION_FUNCIONAL_NOMBRE=dbo.doRow(ECO_ROWDATA,7) ,
						GRUPO_FUNCIONAL=dbo.doRow(ECO_ROWDATA,8) ,
						GRUPO_FUNCIONAL_NOMBRE=dbo.doRow(ECO_ROWDATA,9) ,
						META=dbo.doRow(ECO_ROWDATA,10) ,
						FINALIDAD=dbo.doRow(ECO_ROWDATA,11) ,
						META_NOMBRE=dbo.doRow(ECO_ROWDATA,12) ,
						DEPARTAMENTO_META=dbo.doRow(ECO_ROWDATA,13) ,
						DEPARTAMENTO_META_NOMBRE=dbo.doRow(ECO_ROWDATA,14) ,
						FUENTE_FINANCIAMIENTO=dbo.doRow(ECO_ROWDATA,15) ,
						FUENTE_FINANCIAMIENTO_NOMBRE=dbo.doRow(ECO_ROWDATA,16) ,
						RUBRO=dbo.doRow(ECO_ROWDATA,17) ,
						RUBRO_NOMBRE=dbo.doRow(ECO_ROWDATA,18) ,
						TIPO_RECURSO=dbo.doRow(ECO_ROWDATA,19) ,
						TIPO_RECURSO_NOMBRE=dbo.doRow(ECO_ROWDATA,20) ,
						CATEGORIA_GASTO=dbo.doRow(ECO_ROWDATA,21) ,
						CATEGORIA_GASTO_NOMBRE=dbo.doRow(ECO_ROWDATA,22) ,
						TIPO_TRANSACCION=dbo.doRow(ECO_ROWDATA,23) ,
						GENERICA=dbo.doRow(ECO_ROWDATA,24) ,
						GENERICA_NOMBRE=dbo.doRow(ECO_ROWDATA,25) ,
						SUBGENERICA=dbo.doRow(ECO_ROWDATA,26) ,
						SUBGENERICA_NOMBRE=dbo.doRow(ECO_ROWDATA,27) ,
						SUBGENERICA_DET=dbo.doRow(ECO_ROWDATA,28) ,
						SUBGENERICA_DET_NOMBRE=dbo.doRow(ECO_ROWDATA,29) ,
						ESPECIFICA=dbo.doRow(ECO_ROWDATA,30) ,
						ESPECIFICA_NOMBRE=dbo.doRow(ECO_ROWDATA,31) ,
						ESPECIFICA_DET=dbo.doRow(ECO_ROWDATA,32) ,
						ESPECIFICA_DET_NOMBRE=dbo.doRow(ECO_ROWDATA,33) ,
						MONTO_PIA=dbo.doRow(ECO_ROWDATA,34) ,
						MONTO_PIM=dbo.doRow(ECO_ROWDATA,35) ,
						MONTO_CERTIFICADO=dbo.doRow(ECO_ROWDATA,36) ,
						MONTO_COMPROMETIDO_ANUAL=dbo.doRow(ECO_ROWDATA,37) ,
						MONTO_COMPROMETIDO=dbo.doRow(ECO_ROWDATA,38) ,
						MONTO_DEVENGADO=dbo.doRow(ECO_ROWDATA,39) ,
						MONTO_GIRADO=dbo.doRow(ECO_ROWDATA,40) 
				from eco_tempoTarea_error
				where ECO_NROERRO=1 
				and isnull(ECO_ROWDATA,'')<>''
		end
		---------------- re insert 
			
			if  @i_nroFile=1 begin
				insert into eco_tempoTarea
				(
					ANO_EJE, MES_EJE, NIVEL_GOBIERNO, NIVEL_GOBIERNO_NOMBRE, SECTOR, SECTOR_NOMBRE, PLIEGO, PLIEGO_NOMBRE, 
					SEC_EJEC, EJECUTORA, EJECUTORA_NOMBRE, DEPARTAMENTO_EJECUTORA, DEPARTAMENTO_EJECUTORA_NOMBRE, 
					PROVINCIA_EJECUTORA, PROVINCIA_EJECUTORA_NOMBRE, DISTRITO_EJECUTORA, DISTRITO_EJECUTORA_NOMBRE, SEC_FUNC, 
					PROGRAMA_PPTO, PROGRAMA_PPTO_NOMBRE, TIPO_ACT_PROY, TIPO_ACT_PROY_NOMBRE, PRODUCTO_PROYECTO, 
					PRODUCTO_PROYECTO_NOMBRE, ACTIVIDAD_ACCION_OBRA, ACTIVIDAD_ACCION_OBRA_NOMBRE, FUNCION, FUNCION_NOMBRE, 
					DIVISION_FUNCIONAL, DIVISION_FUNCIONAL_NOMBRE, GRUPO_FUNCIONAL, GRUPO_FUNCIONAL_NOMBRE, META, FINALIDAD, 
					META_NOMBRE, DEPARTAMENTO_META, DEPARTAMENTO_META_NOMBRE, FUENTE_FINANCIAMIENTO, FUENTE_FINANCIAMIENTO_NOMBRE, 
					RUBRO, RUBRO_NOMBRE, TIPO_RECURSO, TIPO_RECURSO_NOMBRE, CATEGORIA_GASTO, CATEGORIA_GASTO_NOMBRE, 
					TIPO_TRANSACCION, GENERICA, GENERICA_NOMBRE, SUBGENERICA, SUBGENERICA_NOMBRE, SUBGENERICA_DET, 
					SUBGENERICA_DET_NOMBRE, ESPECIFICA, ESPECIFICA_NOMBRE, ESPECIFICA_DET, ESPECIFICA_DET_NOMBRE, 
					MONTO_PIA, MONTO_PIM, MONTO_CERTIFICADO, MONTO_COMPROMETIDO_ANUAL, 
					MONTO_COMPROMETIDO, MONTO_DEVENGADO, MONTO_GIRADO 
				)
				select 
					ANO_EJE, MES_EJE, NIVEL_GOBIERNO, NIVEL_GOBIERNO_NOMBRE, SECTOR, SECTOR_NOMBRE, PLIEGO, PLIEGO_NOMBRE, 
					SEC_EJEC, EJECUTORA, EJECUTORA_NOMBRE, DEPARTAMENTO_EJECUTORA, DEPARTAMENTO_EJECUTORA_NOMBRE, 
					PROVINCIA_EJECUTORA, PROVINCIA_EJECUTORA_NOMBRE, DISTRITO_EJECUTORA, DISTRITO_EJECUTORA_NOMBRE, SEC_FUNC, 
					PROGRAMA_PPTO, PROGRAMA_PPTO_NOMBRE, TIPO_ACT_PROY, TIPO_ACT_PROY_NOMBRE, PRODUCTO_PROYECTO, 
					PRODUCTO_PROYECTO_NOMBRE, ACTIVIDAD_ACCION_OBRA, ACTIVIDAD_ACCION_OBRA_NOMBRE, FUNCION, FUNCION_NOMBRE, 
					DIVISION_FUNCIONAL, DIVISION_FUNCIONAL_NOMBRE, GRUPO_FUNCIONAL, GRUPO_FUNCIONAL_NOMBRE, META, FINALIDAD, 
					META_NOMBRE, DEPARTAMENTO_META, DEPARTAMENTO_META_NOMBRE, FUENTE_FINANCIAMIENTO, FUENTE_FINANCIAMIENTO_NOMBRE, 
					RUBRO, RUBRO_NOMBRE, TIPO_RECURSO, TIPO_RECURSO_NOMBRE, CATEGORIA_GASTO, CATEGORIA_GASTO_NOMBRE, 
					TIPO_TRANSACCION, GENERICA, GENERICA_NOMBRE, SUBGENERICA, SUBGENERICA_NOMBRE, SUBGENERICA_DET, 
					SUBGENERICA_DET_NOMBRE, ESPECIFICA, ESPECIFICA_NOMBRE, ESPECIFICA_DET, ESPECIFICA_DET_NOMBRE, 
					MONTO_PIA, MONTO_PIM, MONTO_CERTIFICADO, MONTO_COMPROMETIDO_ANUAL, 
					MONTO_COMPROMETIDO, MONTO_DEVENGADO, MONTO_GIRADO 
				from eco_tempoTarea_error  t
			end 
			if  @i_nroFile=2 begin
				insert into eco_tempoTareaN2
				(
					ANO_EJE, MES_EJE, NIVEL_GOBIERNO, NIVEL_GOBIERNO_NOMBRE, SECTOR, SECTOR_NOMBRE, PLIEGO, PLIEGO_NOMBRE, 
					SEC_EJEC, EJECUTORA, EJECUTORA_NOMBRE, DEPARTAMENTO_EJECUTORA, DEPARTAMENTO_EJECUTORA_NOMBRE, 
					PROVINCIA_EJECUTORA, PROVINCIA_EJECUTORA_NOMBRE, DISTRITO_EJECUTORA, DISTRITO_EJECUTORA_NOMBRE, SEC_FUNC, 
					PROGRAMA_PPTO, PROGRAMA_PPTO_NOMBRE, TIPO_ACT_PROY, TIPO_ACT_PROY_NOMBRE, PRODUCTO_PROYECTO, 
					PRODUCTO_PROYECTO_NOMBRE, ACTIVIDAD_ACCION_OBRA, ACTIVIDAD_ACCION_OBRA_NOMBRE, FUNCION, FUNCION_NOMBRE, 
					DIVISION_FUNCIONAL, DIVISION_FUNCIONAL_NOMBRE, GRUPO_FUNCIONAL, GRUPO_FUNCIONAL_NOMBRE, META, FINALIDAD, 
					META_NOMBRE, DEPARTAMENTO_META, DEPARTAMENTO_META_NOMBRE, FUENTE_FINANCIAMIENTO, FUENTE_FINANCIAMIENTO_NOMBRE, 
					RUBRO, RUBRO_NOMBRE, TIPO_RECURSO, TIPO_RECURSO_NOMBRE, CATEGORIA_GASTO, CATEGORIA_GASTO_NOMBRE, 
					TIPO_TRANSACCION, GENERICA, GENERICA_NOMBRE, SUBGENERICA, SUBGENERICA_NOMBRE, SUBGENERICA_DET, 
					SUBGENERICA_DET_NOMBRE, ESPECIFICA, ESPECIFICA_NOMBRE, ESPECIFICA_DET, ESPECIFICA_DET_NOMBRE, 
					MONTO_PIA, MONTO_PIM, MONTO_CERTIFICADO, MONTO_COMPROMETIDO_ANUAL, 
					MONTO_COMPROMETIDO, MONTO_DEVENGADO, MONTO_GIRADO 
				)
				select 
					ANO_EJE, MES_EJE, NIVEL_GOBIERNO, NIVEL_GOBIERNO_NOMBRE, SECTOR, SECTOR_NOMBRE, PLIEGO, PLIEGO_NOMBRE, 
					SEC_EJEC, EJECUTORA, EJECUTORA_NOMBRE, DEPARTAMENTO_EJECUTORA, DEPARTAMENTO_EJECUTORA_NOMBRE, 
					PROVINCIA_EJECUTORA, PROVINCIA_EJECUTORA_NOMBRE, DISTRITO_EJECUTORA, DISTRITO_EJECUTORA_NOMBRE, SEC_FUNC, 
					PROGRAMA_PPTO, PROGRAMA_PPTO_NOMBRE, TIPO_ACT_PROY, TIPO_ACT_PROY_NOMBRE, PRODUCTO_PROYECTO, 
					PRODUCTO_PROYECTO_NOMBRE, ACTIVIDAD_ACCION_OBRA, ACTIVIDAD_ACCION_OBRA_NOMBRE, FUNCION, FUNCION_NOMBRE, 
					DIVISION_FUNCIONAL, DIVISION_FUNCIONAL_NOMBRE, GRUPO_FUNCIONAL, GRUPO_FUNCIONAL_NOMBRE, META, FINALIDAD, 
					META_NOMBRE, DEPARTAMENTO_META, DEPARTAMENTO_META_NOMBRE, FUENTE_FINANCIAMIENTO, FUENTE_FINANCIAMIENTO_NOMBRE, 
					RUBRO, RUBRO_NOMBRE, TIPO_RECURSO, TIPO_RECURSO_NOMBRE, CATEGORIA_GASTO, CATEGORIA_GASTO_NOMBRE, 
					TIPO_TRANSACCION, GENERICA, GENERICA_NOMBRE, SUBGENERICA, SUBGENERICA_NOMBRE, SUBGENERICA_DET, 
					SUBGENERICA_DET_NOMBRE, ESPECIFICA, ESPECIFICA_NOMBRE, ESPECIFICA_DET, ESPECIFICA_DET_NOMBRE, 
					MONTO_PIA, MONTO_PIM, MONTO_CERTIFICADO, MONTO_COMPROMETIDO_ANUAL, 
					MONTO_COMPROMETIDO, MONTO_DEVENGADO, MONTO_GIRADO 
				from eco_tempoTarea_error  t
			end


		end try
		begin catch
			set @s_error_msg=Cast( (select ERROR_MESSAGE() as msg) as varchar(350));
			set @i_error_nro=99
		end catch


	print @s_error_msg

--select @@ROWCOUNT

end

 /*
SET @Sql = 'BULK INSERT #CSVLine
FROM ''' + @InputFile + '''
WITH
(
FIRSTROW=' + CAST(@FirstLine as varchar) + ',
FIELDTERMINATOR = ''\n'',
ROWTERMINATOR = ''\n''
)'

EXEC(@sql)
*/
---select i_count=count(*) from eco_tempoTarea


