USE [EcoMigrar]
GO
/****** Object:  StoredProcedure [dbo].[pms_ecomin_MtCVSproceso]    Script Date: 29/07/2023 01:20:14 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---- test
/*

-----script para testing 

declare @s_error_msg varchar(350) 
declare @i_error_nro int
declare @i_nroFile int

exec pms_ecomin_MtCVSproceso
	@i_nroFile=1,
	@s_rutaFile ='\\oeides-home\DatosQ\BD_FUNCION_SALUD_GR.csv',
	@s_error_msg =@s_error_msg out,
	@i_error_nro =@i_error_nro out

select	msg		=@s_error_msg,
		i_error	=@i_error_nro



*/
ALTER procedure [dbo].[pms_ecomin_MtCVSproceso]
@i_nroFile int,
@s_rutaFile varchar(500),
@s_error_msg varchar(350) out,
@i_error_nro int out
as
 /*
BULK INSERT eco_tempoTarea
FROM '\\oeides-home\DatosQ\BD_FUNCION_SALUD_GR_PRUEBA.csv'
WITH
(
	FIRSTROW = 2,
    FIELDTERMINATOR = ';',
    ROWTERMINATOR = '\n'
)
 */

 

begin

declare @s_nombreTabla varchar(100)
set @s_nombreTabla ='eco_tempoTarea'
if @i_nroFile=2 set @s_nombreTabla ='eco_tempoTareaN2'

		begin try 
	
			set @s_error_msg='' ;set @i_error_nro=0
			
			if @i_nroFile=1 begin
				truncate table eco_tempoTarea
			end
			if @i_nroFile=2 begin
				truncate table eco_tempoTareaN2
			end


			declare @s_script_go varchar(700)
			
			SET @s_script_go = 'BULK INSERT '+@s_nombreTabla+'  
					 FROM ''' + @s_rutaFile + '''		
					WITH
						(
						FIRSTROW=2,
						FIELDTERMINATOR = '';'',
						ROWTERMINATOR = ''\n''
						)'
				---		print @s_script_go
			exec (@s_script_go)
			
			--------truncar Log
		---	DBCC SHRINKFILE ('EcoMigrar_log', 1)
		--	DBCC SHRINKFILE ('EcoMigrar_log',0 ,TRUNCATEONLY)
		---	DBCC SHRINKFILE (N'EcoMigrar' , 0, TRUNCATEONLY)

		end try
		begin catch
			set @s_error_msg=Cast( (select ERROR_MESSAGE() as msg) as varchar(350));
			set @i_error_nro=99
		end catch


	print @s_error_msg

--select @@ROWCOUNT

end

 /*
SET @Sql = 'BULK INSERT #CSVLine
FROM ''' + @InputFile + '''
WITH
(
FIRSTROW=' + CAST(@FirstLine as varchar) + ',
FIELDTERMINATOR = ''\n'',
ROWTERMINATOR = ''\n''
)'

EXEC(@sql)
*/
---select i_count=count(*) from eco_tempoTarea


