USE [EcoMigrar]
GO
/****** Object:  StoredProcedure [dbo].[pms_ecomin_mtTareaCVS]    Script Date: 29/07/2023 01:20:36 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[pms_ecomin_mtTareaCVS]
@s_key varchar(15),
@s_parm1 varchar(20),
@s_parm2 varchar(20),
@s_parm3 varchar(20),
@s_msgError varchar(250) out

as

set @s_msgError=''

if @s_key='depura-n1' begin

begin try


		TRUNCATE TABLE BD_FUNCION_SALUD_GR_Limpio
		INSERT INTO BD_FUNCION_SALUD_GR_Limpio
		SELECT  top 10000 ANO_EJE,
			   MES_EJE,
			   NIVEL_GOBIERNO_NOMBRE [NIVEL_GOBIERNO],
			   CONCAT(SECTOR,'. ',SECTOR_NOMBRE)[SECTOR],
			   CONCAT(PLIEGO,'. ',PLIEGO_NOMBRE)[PLIEGO],
			   SEC_EJEC,
			   CONCAT(RIGHT('000' + RTRIM(EJECUTORA),3),'. ',EJECUTORA_NOMBRE)[UE],
			   CONCAT(RIGHT('00' + RTRIM(DEPARTAMENTO_EJECUTORA),2),'. ',DEPARTAMENTO_EJECUTORA_NOMBRE)[UE_DEP],
			   CONCAT(RIGHT('00' + RTRIM(PROVINCIA_EJECUTORA),2),'. ',PROVINCIA_EJECUTORA_NOMBRE)[UE_PROV],
			   CONCAT(RIGHT('00' + RTRIM(DISTRITO_EJECUTORA),2),'. ',DISTRITO_EJECUTORA_NOMBRE)[DISTRITO_UE],
			   SEC_FUNC,
			   CONCAT(RIGHT('0000' + RTRIM(PROGRAMA_PPTO),4),'. ',PROGRAMA_PPTO_NOMBRE)[CATEG_PRESUP],
			   CONCAT(TIPO_ACT_PROY,'. ',(CASE WHEN TIPO_ACT_PROY_NOMBRE = 'ACTIVIDAD' THEN 'PRODUCTO' ELSE 'PROYECTO' END))[TIPO_PRODPROY],
			   RTRIM(CONCAT(PRODUCTO_PROYECTO,'. ',PRODUCTO_PROYECTO_NOMBRE))[PROD_POY],
			   RTRIM(CONCAT(ACTIVIDAD_ACCION_OBRA,'. ',REPLACE(ACTIVIDAD_ACCION_OBRA_NOMBRE, '  ', ' ')))[ACTIVIDAD],
			   CONCAT(FUNCION,'. ',FUNCION_NOMBRE)[FUNCION],
			   RTRIM(CONCAT(RIGHT('00' + RTRIM(DIVISION_FUNCIONAL),2),'. ',DIVISION_FUNCIONAL_NOMBRE))[DIV_FUNCIONAL],
			   RTRIM(CONCAT(RIGHT('000' + RTRIM(GRUPO_FUNCIONAL),3),'. ',GRUPO_FUNCIONAL_NOMBRE))[GRUPO_FUNCIONAL],
			   META,
			   RTRIM(CONCAT(RIGHT('000000' + RTRIM(FINALIDAD),6),'. ',META_NOMBRE))[FINALIDAD_N],
			   RTRIM(CONCAT(RIGHT('00' + RTRIM(DEPARTAMENTO_META),2),'. ',DEPARTAMENTO_META_NOMBRE))[DEPARTAMENTO_META],
			   RTRIM(CONCAT(FUENTE_FINANCIAMIENTO,'. ',FUENTE_FINANCIAMIENTO_NOMBRE))[FF],
			   RTRIM(CONCAT(RIGHT('00' + RTRIM(RUBRO),2),'. ',RUBRO_NOMBRE))[FF_RUBRO],
			   CASE
				   WHEN ISNUMERIC(LEFT(TIPO_RECURSO, 1))=1 THEN
				   RTRIM(CONCAT(RIGHT('00' + RTRIM(TIPO_RECURSO),2),'. ',TIPO_RECURSO_NOMBRE))
				   ELSE CONCAT('.. ',TIPO_RECURSO_NOMBRE)
				   END AS [FF_TIPORECURSO],
			   RTRIM(CONCAT(CATEGORIA_GASTO,'. ',CATEGORIA_GASTO_NOMBRE))[CATEGORIA_GASTO],
			   TIPO_TRANSACCION,
			   RTRIM(CONCAT(GENERICA,'. ',GENERICA_NOMBRE))[GENERICA_GASTO],
			   RTRIM(CONCAT(SUBGENERICA,'. ',SUBGENERICA_NOMBRE))[SUBGENERICA_GASTO],
			   RTRIM(CONCAT(SUBGENERICA_DET,'. ',SUBGENERICA_DET_NOMBRE))[SUBGENERICA_DET_GASTO],
			   RTRIM(CONCAT(ESPECIFICA,'. ',ESPECIFICA_NOMBRE))[ESPECIFICA_GASTO],
			   RTRIM(CONCAT(ESPECIFICA_DET,'. ',ESPECIFICA_DET_NOMBRE))[ESPECIFICA_DET_GASTO],
			   RTRIM(CONCAT(TIPO_TRANSACCION,'.',GENERICA,'.',SUBGENERICA,'.',SUBGENERICA_DET,'.',ESPECIFICA,'.',ESPECIFICA_DET,'. ',ESPECIFICA_DET_NOMBRE))[CADENA_GASTO],
			   MONTO_PIA,
			   MONTO_PIM,
			   MONTO_CERTIFICADO,
			   MONTO_COMPROMETIDO_ANUAL,
			   MONTO_COMPROMETIDO,
			   MONTO_DEVENGADO,
			   MONTO_GIRADO	   
		FROM eco_tempoTarea


end try
begin catch
	 set @s_msgError=Cast( (select ERROR_MESSAGE() icod) as varchar(250) )
end catch
---
	return
 


end



if @s_key='depura-n2' begin

begin try


		---TRUNCATE TABLE BD_FUNCION_SALUD_GR_Limpio
		INSERT INTO BD_FUNCION_SALUD_GR_Limpio
		SELECT  top 10000 ANO_EJE,
			   MES_EJE,
			   NIVEL_GOBIERNO_NOMBRE [NIVEL_GOBIERNO],
			   CONCAT(SECTOR,'. ',SECTOR_NOMBRE)[SECTOR],
			   CONCAT(PLIEGO,'. ',PLIEGO_NOMBRE)[PLIEGO],
			   SEC_EJEC,
			   CONCAT(RIGHT('000' + RTRIM(EJECUTORA),3),'. ',EJECUTORA_NOMBRE)[UE],
			   CONCAT(RIGHT('00' + RTRIM(DEPARTAMENTO_EJECUTORA),2),'. ',DEPARTAMENTO_EJECUTORA_NOMBRE)[UE_DEP],
			   CONCAT(RIGHT('00' + RTRIM(PROVINCIA_EJECUTORA),2),'. ',PROVINCIA_EJECUTORA_NOMBRE)[UE_PROV],
			   CONCAT(RIGHT('00' + RTRIM(DISTRITO_EJECUTORA),2),'. ',DISTRITO_EJECUTORA_NOMBRE)[DISTRITO_UE],
			   SEC_FUNC,
			   CONCAT(RIGHT('0000' + RTRIM(PROGRAMA_PPTO),4),'. ',PROGRAMA_PPTO_NOMBRE)[CATEG_PRESUP],
			   CONCAT(TIPO_ACT_PROY,'. ',(CASE WHEN TIPO_ACT_PROY_NOMBRE = 'ACTIVIDAD' THEN 'PRODUCTO' ELSE 'PROYECTO' END))[TIPO_PRODPROY],
			   RTRIM(CONCAT(PRODUCTO_PROYECTO,'. ',PRODUCTO_PROYECTO_NOMBRE))[PROD_POY],
			   RTRIM(CONCAT(ACTIVIDAD_ACCION_OBRA,'. ',REPLACE(ACTIVIDAD_ACCION_OBRA_NOMBRE, '  ', ' ')))[ACTIVIDAD],
			   CONCAT(FUNCION,'. ',FUNCION_NOMBRE)[FUNCION],
			   RTRIM(CONCAT(RIGHT('00' + RTRIM(DIVISION_FUNCIONAL),2),'. ',DIVISION_FUNCIONAL_NOMBRE))[DIV_FUNCIONAL],
			   RTRIM(CONCAT(RIGHT('000' + RTRIM(GRUPO_FUNCIONAL),3),'. ',GRUPO_FUNCIONAL_NOMBRE))[GRUPO_FUNCIONAL],
			   META,
			   RTRIM(CONCAT(RIGHT('000000' + RTRIM(FINALIDAD),6),'. ',META_NOMBRE))[FINALIDAD_N],
			   RTRIM(CONCAT(RIGHT('00' + RTRIM(DEPARTAMENTO_META),2),'. ',DEPARTAMENTO_META_NOMBRE))[DEPARTAMENTO_META],
			   RTRIM(CONCAT(FUENTE_FINANCIAMIENTO,'. ',FUENTE_FINANCIAMIENTO_NOMBRE))[FF],
			   RTRIM(CONCAT(RIGHT('00' + RTRIM(RUBRO),2),'. ',RUBRO_NOMBRE))[FF_RUBRO],
			   CASE
				   WHEN ISNUMERIC(LEFT(TIPO_RECURSO, 1))=1 THEN
				   RTRIM(CONCAT(RIGHT('00' + RTRIM(TIPO_RECURSO),2),'. ',TIPO_RECURSO_NOMBRE))
				   ELSE CONCAT('.. ',TIPO_RECURSO_NOMBRE)
				   END AS [FF_TIPORECURSO],
			   RTRIM(CONCAT(CATEGORIA_GASTO,'. ',CATEGORIA_GASTO_NOMBRE))[CATEGORIA_GASTO],
			   TIPO_TRANSACCION,
			   RTRIM(CONCAT(GENERICA,'. ',GENERICA_NOMBRE))[GENERICA_GASTO],
			   RTRIM(CONCAT(SUBGENERICA,'. ',SUBGENERICA_NOMBRE))[SUBGENERICA_GASTO],
			   RTRIM(CONCAT(SUBGENERICA_DET,'. ',SUBGENERICA_DET_NOMBRE))[SUBGENERICA_DET_GASTO],
			   RTRIM(CONCAT(ESPECIFICA,'. ',ESPECIFICA_NOMBRE))[ESPECIFICA_GASTO],
			   RTRIM(CONCAT(ESPECIFICA_DET,'. ',ESPECIFICA_DET_NOMBRE))[ESPECIFICA_DET_GASTO],
			   RTRIM(CONCAT(TIPO_TRANSACCION,'.',GENERICA,'.',SUBGENERICA,'.',SUBGENERICA_DET,'.',ESPECIFICA,'.',ESPECIFICA_DET,'. ',ESPECIFICA_DET_NOMBRE))[CADENA_GASTO],
			   MONTO_PIA,
			   MONTO_PIM,
			   MONTO_CERTIFICADO,
			   MONTO_COMPROMETIDO_ANUAL,
			   MONTO_COMPROMETIDO,
			   MONTO_DEVENGADO,
			   MONTO_GIRADO	   
		FROM eco_tempoTareaN2


end try
begin catch
	 set @s_msgError=Cast( (select ERROR_MESSAGE() icod) as varchar(250) )
end catch
---
	return
 


end
